/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2017, 11:30:32 PM
    Author     : Mason
*/

#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.controls {
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    text-overflow: ellipsis;
}