#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.controls {
    background-color: #fff;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    text-overflow: ellipsis;
    width: 400px;
}

     
   